@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@layer components {
    .draggable {
        width: 20px;
        height: 40px;
        background-color: #2c2c2e;
        border-radius: 4px;
        cursor: grab;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .draggable:active {
        cursor: grabbing;
    }

    .draggable::before {
        content: '::';
        color: #999;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        display: block;
    }

    .textShadow {
        text-shadow: 0 1px 4px #000;
    }

    .teamList:empty::before {
        content: "Drop here";
        color: #999;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333;
        border-radius: 5px;
        min-height: 49px;
    }
    .teamHover {
        outline: #007aff solid 1px;
        border-radius: 5px;
    }
}